{% extends 'shop/layouts/main.html' %}
{% block title %}
cart
{% endblock title %}

{% block content %}
{% include 'shop/Inc/slider.html' %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">Latest Offers</h1>
            <hr style="border-color: aliceblue;">
        </div>
        {% for item in products %}
        <div class="col-md-4 col-lg-3">
          <div class="card my-3">
            <img src="{{item.product_image.url}}"  class="card-image-top" alt="Categories" style="width: auto;height: 250px;">
            <a href="{% url 'product_details' item.category.name item.name %}" class="item-price">
            <div class="card-body">
              <h5 class="card-title text-primary">{{item.name}}</h5>
              <p class="card-text">
               <span class="float-star "><s class="old_price">Rs.{{item.original_price | stringformat:'d'}}</s> </span> 
               <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span> </p>
           
            </div>
          </a>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock content %}

   